/* INTENTIONALLY UGLY STARTER STYLES */
/* These styles are very, very ugly. */
/* Time to make them attractive, legible, and usable */

:root {
--color-red: #FE3434;
--color-tan: #edbf85;
--color-brown: #4b3034;
--color-blue: #87E8D8;
--color-green: #415E31;
--color-yellow: #EAB948;
}

* {
    margin: 2px;
    padding: 1px;
}

body {
    font-family: Times, serif;
    background-color: var(--color-red);
    margin: 0;
    padding: 0;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.mynerve-regular {
  font-family: "Mynerve", cursive;
  font-weight: 400;
  font-style: normal;
}


.recipe-container {
    background-color: var(--color-tan);
    border: 5px solid var(--color-brown);
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-areas: 
    "a a "
    "b b "
    "c c "
    "d d "
    "e e";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-family: "Mynerve", cursive;
    color: var(--color-brown);
}

.recipe-header {
    grid-area: a;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    text-align: center;
}

.recipe-intro{
    grid-area: b;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width: 100%;
    background-color: var(--color-tan);
}

.recipe-title {
    font-size: 40px;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
}

.recipe-meta {
    flex: 1;
}

.recipe-description {

}

.ingredients-section {
    grid-area: c;
    background-color: var(--color-green);
    color: var(--color-yellow);
}

.ingredients-list {
    list-style: none;
}

.ingredients-list li {
    margin: 2px;
    padding: 1px;
}

.instructions-section {
    grid-area: d;
    background-color: var(--color-yellow);

}

.instructions-list {
    margin-left: 15px;
}

.instruction-step {
    margin: 3px;
}

.recipe-footer {
    grid-area: e;
    margin: -5px;
    padding: 5px;
    text-align: right;
    font-size: 10px;
    background-color: var(--color-brown);
    color: var(--color-tan);
}

.recipe-image {
    width: 300px;
    height: 300px;
    border: 5px solid black;
    flex-shrink: 0;
}

@media (max-width: 48rem) {
  .recipe-container {
    grid-template-areas: 
  "a"
  "b"
  "c"
  "d"
  "e";
  grid-template-columns: 1fr;
  }
  .recipe-intro {
        flex-direction: column;
    }
.recipe-image{
    width: auto;
    height: fit-content;
    flex-shrink: 1;
}
}